.projects {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    max-width: 100%;
}

.projects-header {
    position: absolute;
    top: 6rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #6b7280;
}

.background {
    width: 100%;
    position: absolute;
    top: 30%;
    background-color: #F7AB0A;
    opacity: 10.00%;
    left: 0;
    height: 450px;
    transform: skewY(-12deg);
}

.projects-container {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    z-index: 20;

}
.projects-container a{
    color: white!important;
}

.projects-image-wrapper {
    width: 100vw;
    height: 90vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    scroll-snap-align: center;
    flex-direction: column;
    margin-top: 80px;

}

.image {

    width: 400px;
}
.header{
    margin-top: 20px;
}
.description{
  padding: 20px;
}