.about {
    background-color: rgba(18, 15, 15, 0.54);
    max-width: 1000px;
    height: fit-content;
    padding: 20px;
    /*margin: 50px 10px 100px 86px;*/
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 50px auto;
}

.about-detail {
    display: flex;
}

.about h3 {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about p {
    line-height: 1.6;
    margin-top: 20px;
    font-size: 14px;
}

.about img {
    object-fit: cover;
    margin-left: 10px;
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 10px;
}


.projects-wrapper {
    margin-top: 50px;
}

.projects {
    display: inline-grid;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 330px;
    margin-top: 40px;
}

.text-wrapper {
    display: flex;
}

.projects p {
    line-height: 1.6;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.projects a {
    color: skyblue;
}

.icon-wrapper {
    color: #9cbc68 !important;
    font-size: 35px;
    margin-right: 20px;

}

@media only screen and (max-width: 800px) {
    .about-detail {
        flex-direction: column-reverse;

    }

    .projects-wrapper {
    }
}

