.about {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    /*text-align: center;*/
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    padding: 10px;
    align-items: center;
}

.about-header {
    position: absolute;
    top: 6rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #6b7280;
}

.about-img {
    width: 250px;
    height: 250px;
    flex-shrink: 1;
    object-fit: cover;

}
.about-background{
    display: flex;
}
.about-background-text {
width: 700px;
    text-align: left;
}
