.about {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    padding: 20px;
    align-items: center;
    max-width: 1200px;
}

.about-header {
    position: absolute;
    top: 6rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #6b7280;
}

.about-img {
    height: 350px;
    flex-shrink: 1;
    object-fit: cover;
    margin-right: 30px;
}

.about-background {
    display: flex;
    margin-top: 30px;

}

.about-background-text h2 {
    margin-bottom: 20px;
    margin-top: 50px;

}


.underline-text {
    text-decoration: none;
    border-bottom:2px solid #F7AB0A;
}

@media screen and (max-width: 762px) {


    .about-background {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 150px;
        height: 150px;
        margin: auto;
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }

}
