.home {


}

.background-img {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
}


.home-text {
    color: white;
    text-align: center;
    margin-top: 230px;
}

.home-text > h1 {
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}

.home-text h2 {
    margin-top: 25px;
    font-size: 26px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
}

.down-icon {
    color: white;
    font-size: 35px;
    cursor: pointer;
    animation: icon 3s infinite;
    position: relative;
    animation-timing-function: linear;
    font-weight: bolder;
    margin: 200px auto 100px auto;
    display: flex;
    justify-content: center;
}

@keyframes icon {
    0% {
        top: 0;
    }
    25% {
        top: 20px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}

