.contact {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.contact-header {
    position: absolute;
    top: 4rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #6b7280;
}

.subheading {
    font-size: 24px;
    padding: 5px;
    margin-top: 40px;
}

.subheading-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.details-wrapper {
    margin-top: 10px;
    align-items: center;

}

.icon-wrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.icon-wrapper > div {
    margin-top: 10px;
}

.icons {
    color: #fbbf24;
    padding-right: 20px;
    width: 20px;
}

.details {
    font-size: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.form-wrapper input, textarea {
    border-radius: 0.125rem;

    border: none;
    --tw-border-opacity: 1;
    background-color: #333333;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    padding: 1.0rem 0.75rem;
    margin-top: 10px;
    outline: none !important;
}
::placeholder{
    color: white;
}
::after{
    background-color: #333333!important;
}
::before{
    background-color: #333333!important;
}
::selection{
    background-color: #333333!important;
}

.form-wrapper input:focus, textarea:focus {
    color: #f5c853;
}


.form-wrapper button {
    padding: 10px 0.75rem;
    margin-top: 5px;
    background-color: #fbbf24;
    font-weight: 700;
    border: none;
}


