.contact {
    background-color: rgba(18, 15, 15, 0.54);
    max-width: 1050px;
    height: fit-content;
    padding: 50px;
    margin: 50px 10px 100px 90px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.contact p {
    margin-top: 25px;
    line-height: 1.6;
}

.contact-details {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.contact-details-icons {
    color: #9cbc68;
    font-size: 28px;
}

.contact-details p {
    margin-top: 10px;
}


.contact Button {
    font-weight: bold;
    border: 2px solid #7b7777;
    background-color: transparent;
    color: #bebcbc;
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 567px) {
    .contact-details {
        display: flex;
        margin: auto;
        justify-content: center;
    }
}