.gallery {
    background-color: rgba(18, 15, 15, 0.54);
    max-width: 1000px;
    height: fit-content;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
    justify-content: center;
    margin: 80px auto;
}

.gallery h2 {
    padding-bottom: 10px;
}

.gallery Button {
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid #7b7777;
    background-color: transparent;
    color: #bebcbc;
    padding: 8px 15px;
    text-transform: uppercase;
}

.gallery Button:hover {
    cursor: pointer;
    border: 2px solid var(--primary);
    color: var(--primary);
    transition: 0.5s ease-in-out;
}

.gallery-images-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.load-images-btn {
    display: flex !important;
    margin: auto !important;
    justify-content: center !important;

}


.gallery-images {
    max-width: 325px;
    object-fit: contain;
  height:auto;
    margin-top: 20px;
    border: 2px solid black;
    transition: .5s ease;
    display: block;
    backface-visibility: hidden;

}
.img-container:hover .gallery-images {
    opacity: 0.3;
}

.img-container:hover .middle {
    opacity: 1;
}

.img-container{
    position: relative;
}

.text {
    font-size: 18px;

}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
