.gallery {
    background-color: rgba(18, 15, 15, 0.54);
    max-width: 1150px;
    height: fit-content;
    padding: 50px;
    margin: 50px 10px 100px 90px;
    font-family: 'Raleway', sans-serif;
    color: white;

}

.gallery h2 {
    padding-bottom: 10px;
}

.gallery Button {
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid #7b7777;
    background-color: transparent;
    color: #bebcbc;
    padding: 8px 15px;
    text-transform: uppercase;
}

.gallery Button:hover {
    cursor: pointer;
    border: 2px solid var(--primary);
    color: var(--primary);
    transition: 0.5s ease-in-out;
}

.gallery-images-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.load-images-btn {
    display: flex !important;
    margin: auto !important;
    justify-content: center !important;

}

/*.my-masonry-grid {*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.my-masonry-grid_column {*/
/*    background-clip: padding-box;*/
/*}*/

.gallery-images {
    max-width: 340px;
    max-height: 340px;
    margin-top: 10px;
    border: 2px solid black;
    transition: .5s ease;
}

.gallery-images:hover {
    opacity: 0.3;
}


.text {
    font-size: 16px;
    opacity: 0;
}

/*@media (max-width: 967px){*/
/*    .my-masonry-grid{*/
/*        display: grid;*/
/*    }*/
/*}*/