#root {
    --primary: #9cbc68;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90px;
    height: 100vh;
    text-align: center;
    position: fixed;
}

.sidebar-icons {
    font-size: 30px;
    color: lightgray;
    margin-top: 25px;
}

.logo-img {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 50px;
}
